{
    "extends": [
      "eslint:recommended"
    ],
    "parser": "babel-eslint",
    "plugins": [
      "babel",
      "react",
      "import"
    ],
    "rules": {
      "indent": ["error", 2],
      "no-tabs": "warn",
      "comma-dangle": ["error", "never"],
      "no-shadow": "off",
      "no-param-reassign": "off",
      "space-before-function-paren": ["error", "never"],
      "arrow-parens": "off",
      "no-confusing-arrow": ["error", { "allowParens": true }],
      "no-continue": "off",
      "no-plusplus": "off",
      "react/prop-types": "off",
      "import/no-extraneous-dependencies": ["off", { "devDependencies": true }],
      "import/prefer-default-export": "off",
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1,
      "react/react-in-jsx-scope": 1,
      "react/no-unused-prop-types": ["error", { "skipShapeProps": true }]
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "env": {
      "browser": true
    }
}
