html
    head
        title Expense
        link(rel="stylesheet" type="text/css" href="/vendor/style/semantic/dist/semantic.min.css")
        script(src="/vendor/style/semantic/dist/semantic.min.js")

    body(style="padding: 20px")
        div(class="ui grid")
            div(class="twelve wide column")
                table(class="ui striped table")
                    thead
                        tr
                            th Store (#{storesCount})
                            th User by 
                            //th Merge
                    tbody
                        each store in stores
                            tr
                                td
                                    a(href="/stores/#{store.id}")= store.name
                                td= store.used
                                //td
                                //    input(type="checkbox")
        br
        input(type="submit" value="Merge Selected")
        br
