html
    head
        title Expense
        link(rel="stylesheet" type="text/css" href="/style/semantic/dist/semantic.min.css")
        script(src="/style/semantic/dist/semantic.min.js")

    body(style="padding: 20px")
        h1 merging #{elements} into #{master}
